/* global.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('backgrnd-img.jpg');
    background-size: cover;
    background-position: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #ff7200;
}

.button {
    background: linear-gradient(45deg, #ff7200, #ff9100);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
}
